
*{margin:0;padding:0}
body{
	background-color:#EEE8AE;
}
#wrapper{
	width:960px;
	margin:20px auto;
}
#header{
	background-color:#FAB72A;
	padding:15px;
	border-bottom:5px solid #6B710E;
}
#header h2{
	color:#FFFFF1;
	font-family:georgia;
}
#header p{
	color:#788420;
	font-family:georgia;
}

#nav{
	background-color:#fff;
	height:38px;
	border-bottom:5px solid #6B710E;
	position:relative;
	z-index:10;
	
}
#nav ul{
	background-color:#fff;
	list-style-type:none;
}
#nav ul li{
	float:left;
	border-right:1px solid	#6B710E;
}
#nav ul li:last-child{
	border:none
}
#nav ul li a{
	text-decoration:none;
	color:#7A7F25;
	display:block;
	padding:10px 20px;
	font-family:arial;
}
#nav ul li a:hover{
	color:#827159;
}


#nav ul li{
	position:relative;
}
#nav ul li ul{
	position:absolute;
	left:-99999px;
	background:#fff;
	
}
#nav ul li:hover ul{
	left:0px;
	
}
#nav ul li ul li:first-child{
	border-top:1px solid #6B710E;
}
#nav ul li ul li{
	float:none;
	border-right:none;
	border-bottom:1px solid #6B710E;
	width:200px;
}
#nav ul li:hover{
	background:orange;
	color:#fff;
}




#content{
	width:100%;
	
}
#content article{
	width:700px;
	float:left;
	background:#fff;
	padding-bottom:60px;
	
}
#content article p{
	padding-top:5px;
}

#content img{
	width:450px;
}

#content figure{
	width:450px;
	padding:10px;
	background:#ddd;
	margin:0 auto;
	display:block;
}

#content figcaption{
	text-align:center;
	color:green;
	font-family:arial;
	font-weight:bold;
}



#sidebar aside{
	width:250px;
	float:left;
	overflow:hidden;
	background:#fff;
	padding-right:10px;
	padding-bottom:20px;
}
#sidebar aside ul li a{
	text-decoration:none;
}
#sidebar aside ul li{
	padding:5px;
}

blockquote{
	background:#ddd;
	margin-left:50px;
	padding:10px;
	padding-left:20px;
	border-left:2px solid orange;
}

#footer{
		text-align:center;
		background:#6b710e;
		color:#fff;
		padding:5px;
		overflow:hidden;
		display:inline-block;
		width:952px;
	
}

#slider_wrapper{
	width:960px;
	position:relative;
	z-index:5;
	
	
}